@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Thin Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Regular Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Semibold Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bergamasco';
    src: url('Bergamasco Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}