@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.title-font,
.title-font * {
  font-family: "Bergamasco", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

[data-theme="dark"] .text-primary {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

[data-theme="dark"] *::selection {
  @apply bg-white text-black;
}

html {
  overflow-x: hidden;
}
body {
  @apply dark:bg-black dark:text-white;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: -30vh;
  left: 0px;
  height: 140vh;
  width: 100%;
  opacity: 0.75;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    #650000 0%,
    #3a0101cc 65%,
    #ef58c3 100%
  );
}
.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  bottom: -40px;
  left: 0px;
  height: 225px;
  width: 100%;
  opacity: 0.75;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    #650000 0%,
    #3a0101cc 65%,
    #ef58c3 100%
  );
}

.hover-shadow:hover{
  box-shadow: 
  -1px -1px 7px #650000,
  1px 1px 7px #3a0101cc;
}